<div class="jumbotron jumbotron-fluid bg-dark text-light p-5">
  <h1>Welcome to Nom a Burger</h1>
</div>

<div class="container">
  <div class="row">
    
    <div class="col-12 col-md-3">
      <form id="burger-form">
        <input class="form-control" id="name-input" placeholder="burger's Name"/>
        <button class="btn btn-success btn-block" type="submit">
          Add A Burger!
        </button>
      </form>
    </div>
  
    <div class="col-12 col-md-9">
      
      <div class="row">
       
        <div class="col-12 col-md-6">
          <h2>Burgers ready to eat!</h2>
          <ul class="list-group">
            
            {{#each burgerData}}
              
              {{#unless eaten}}
                <li class="list-group-item d-flex">
                  {{name}} 
                  <span class="ml-auto">
                    <button 
                      data-id="{{id}}"
                      data-eaten="true"
                      class="btn btn-sm btn-info update-burger"
                      >
                    Nom a Burger!
                    </button>

                    
                  </span>
                </li>
              {{/unless}}
            {{/each}}
          </ul>
        </div>
       
        <div class="col-12 col-md-6">
          <h2>Eaten burgers</h2>
          <ul class="list-group">
           
            {{#each burgerData}}
           
            {{#if eaten}}
            <li class="list-group-item d-flex">
              {{name}}
              
            </li>
            {{/if}}
            {{/each}}
          </ul>
        </div>
        
      </div>
    </div>
  </div>
</div>

<script src="./assets/js/burgers.js"></script>